/* CSS for homepage */

/* Default to menu at side */

* {
  margin: 0;
  padding: 0;
}

	.menu {
	width: 100px;
	text-align: center;
  position: fixed;
	height: 100%;
  overflow: auto;
	margin: 0px;
	padding:0px;
}

  .menu_items ul {
  	list-style-type: none;
		text-align: center;
    background-color: #f1f1f1;
		margin: 0px;
  }
  
  .menu_items li {
  	display: inline-block;
  	color: #000;
		background-color: #eee;
    text-decoration: none;
		padding: 5px 5px;
		line-height: 90px;
		height: 90px;
		width: 90px;
		text-align: center;

		
  }
  
  .menu_items li:hover {
      background-color: #555;
      color: white;
  }
  .menu_items li:hover:not(.active) {
    background-color: #555;
    color: white;
}

.container {
	margin-left: 100px;
	display:block;
	position:fixed;
	margin-top: 10px;
	padding: 5px;
}

/* menu at top for low width */
@media screen and (max-width: 400px){
	
		.menu {
		width:100pc;
		height: auto;
		position:relative;
		
		}

    .menu_items ul {
        text-align: center;
				margin-left: 0px;
			
    }

	  .menu_items li {
			float: left;
			margin-left: 0px;
		}

	.container {
		margin:10px;

}
}

