<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="homepage/homepage.js"></script>
    <link rel="stylesheet" href="homepage/homepage.css"></link>

    {% for room in rooms %}
	<script src="static/js/{{room.name}}.js"></script>
	<script src="{{room.name}}/{{room.name}}.js"></script>
	<link rel="stylesheet" href="{{room.name}}/{{room.name}}.css"></link>
    {% endfor %}


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


</head>
<body>

<div class="menu" id="menu">

<ul class="menu_items" id="menu_list">
{% for room in rooms %}
<li id={{ room.name }} onclick=show_{{room.name}}() href='#{{room.name}}'>{{room.name}}</li>
{% endfor %}
</ul>
</div>


<!--<input type="button" id="next" value="Next" />-->

<div class="container" id="content">
    <div class="row">
        <p>Asynchronous page updates will appear here:</p>
        <h3>Number list:</h3>
        <div id="log">
    </div>
</div>

</body>
</html>
